# Copie este arquivo para .env e preencha os valores
# cp .env.example .env

DJANGO_SECRET_KEY=TROQUE_POR_UMA_CHAVE_SEGURA
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
POSTGRES_DB=parkapp_db
POSTGRES_USER=parkapp_user
POSTGRES_PASSWORD=TROQUE_POR_UMA_SENHA
POSTGRES_HOST=db
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/0
